python-dotenv
dataset
psycopg2
requests
sqlalchemy
git+git://github.com/frictionlessdata/datapackage-py.git@66fdf7e407b95e1804bea74c6d484df536a4fb3f
jsontableschema-sql
boto3
PyPDF2
python-documentcloud
pybossa-client
fuzzywuzzy
python-Levenshtein
iso3166